*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --primary-color-light: #FFCAE8;
    --primary-color: #F59CCA;
    --primary-color-dark: #CD5583;
    --secondary-color: #;
    --accent-color: #;
    --good-color: #0cdc16;
    --text-color-headings: #1b0760;
    --text-color-light: #FCF6FB;
    --text-color-gray: #918CA4;
    --bg-color: #;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

html {
    font-size: 62.5%;
}

body { 
    font-family: "Nunito", sans-serif;  
    font-size: 2.4rem;
    line-height: 1.4;
    color: var(--text-color-gray);  
}

h1,
h2,
h3 {
    color: var(--text-color-headings);
    line-height: 1.1;
    margin-bottom: 1.8rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    margin-top: 0;
}

@media (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }

    h1 {
    font-size: 6.5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }
}

/* link */
a {
    text-decoration: none;
}

.link-more {
    color: var(--text-color-gray);
    font-size: 2rem;
    font-weight: lighter;
    opacity: .6;
}

.link-more::after {
    content: '...';
    transition: all 0.15s ease;
}

.link-more:hover {
    opacity: 1;
}

.link-more:hover::after{
    content: '.....';
}

@media (min-width: 1024px){
    .link-more {
        font-size: 1.5rem;
    }
}

/* badges */
.badge {
    border-radius: 20px;
    padding: .5rem 1rem;
    font-weight: 600;
    white-space: nowrap;
    font-size: 2rem;
}

.badge--small {
    font-size: 1.2rem;
}

.badge--primary {
    background-color: var(--primary-color);
    color: #fff;
}
.badge--primary-dark {
    background-color: var(--primary-color-dark);
    color: #fff;
}

@media (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1rem;
    }
}

/*  lists  */
.list {
    list-style: none;
    color: var(--text-color-headings );
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick .list__item::before {
    content: '\2714';
    color: var(--good-color);
    padding-right: 10px;
}

/* icons */
.icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon--container {
    /* background-color: var(--primary-color); */
    width: 100px;
    height: 100px;
}

.icon img {
    width: 100px;
    height: 50px;
    border-radius: 50px;
}

.icon--primary {
    background-color: var(--primary-color);
    color: var(--primary-color-dark);
}

.icon--outline {
    background-color: transparent;
    color: var(--primary-color-dark);
    border: 3px solid var(--primary-color-dark);
}

/* buttons */
.btn {
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow);
}

.btn--primary {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.btn--outline {
    background-color: transparent;
    color: var(--primary-color-dark);
    border: 3px solid var(--primary-color-dark);
    transition: all 0.3s ease;
}
.btn--outline:hover {
    background-color: var(--primary-color-dark);
    color: var(--text-color-light);
}

.btn--primary-dark {
    background-color: var(--primary-color-dark);
    color: var(--text-color-light);
    transition: all 0.3s ease;
}
.btn--primary-dark:hover {
    background-color: transparent;
    color: var(--primary-color-dark);
    border: 3px solid var(--primary-color-dark);
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--stretch {
    padding-left: 4rem;
    padding-right: 4rem;
}

@media (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* medai */
.media {
    display: flex;
}

.media__body{
    margin: 0 2rem;
} 

.media__image {
    margin-top: .5rem;
}

/* grid */
.grid {
    display: grid;
}

@media (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* callout */
.callout {
    padding: 2rem;
    border-radius:  10px ;
}

.callout--primary {
    background: var(--primary-color);
    color: var(--text-color-light);
}

.callout__content {
    text-align: center;
}

.callout .btn {
    justify-self: center;
    align-self  : center;
}

@media (min-width:768px) {
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto ;
    }

     .callout__content {
        text-align: left;
     }

     .callout .btn {
        margin-left: 5px;
        justify-self: start
     }
}

/* collapasible */
.collapsible__header {
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.collapsible__icon {
    cursor: pointer;
    transform: rotate(0);
    transition: all 0.2s ease;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.collapsible--expanded  .collapsible__icon{
    transform: rotate(180deg);
}

.collapsible--expanded  .collapsible__content{
    max-height: 100%;
    opacity: 1;
}

/* navbars */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    position: sticky;
    top: 2%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.1); /* transparency */
    backdrop-filter: blur(10px);           /* glass effect */
    -webkit-backdrop-filter: blur(10px);   /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2); /* subtle edge */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;

    width: 100%;
    max-width: auto;
    border-radius: 50px;
}

.nav__list {
    width: 100%;
}

.nav__item {
    text-align: center;
    padding: .5rem ;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--text-color-gray);
}
.nav__item a {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color-dark);
    transition: all 0.2s ease;
}
.nav__item a:hover {
    color: var(--primary-color);
}

.logo {
    height: 60px;
    width: 120px;
    border-radius: 40px;
}

.nav__toggler {
    opacity: 1;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: .7;
    box-shadow: var(--box-shadow);
}

@media (min-width: 768px) {
    .nav__toggler{
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        gap: 2.5rem;
    }

    .collapsible__content {
        max-height: 100%;
        opacity: 1;
        overflow: visible;
    }

    .nav__item {
        border: none; 
    }
}

/* hero */
.hero__container {
    background: linear-gradient(130deg, var(--primary-color), var(--primary-color-light));
    /* background: url(./img/bg-pink_donught_side.jpg); */
    min-height: 119vh;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    padding: 2rem 3rem;
}

.skew-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.container {
    margin-top: 4rem;
    min-height: 80vh;
}

.hero__content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    text-align: center;
}

.block__heading {
    color: var(--text-color-light);
    
}

.hero__tagline {
    margin: 2rem 0 4rem;
}

.hero__image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero__image {
    width: 104px;
    height: 100px;
    border-radius: 50%;
    margin: .8rem;
    animation: float 2s infinite;
}
.hero__image2 {
    width: 104px;
    height: 100px;
    border-radius: 50%;
    margin: .8rem;
    animation: float2 2s infinite;
}
/* look for cooler animations */
@keyframes float     {
    0%{
        transform: translateY(-20px);
    }

    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}
@keyframes float2     {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}

@media (min-width: 768px) {
    .hero__content {
        text-align: left;
        align-self: center;
    }
}

/* about founder */  
.card {
    box-shadow: 0 4px 8px var(--primary-color);
    border-radius: 20px;
}

.founder {
    padding: 2rem;
}

.founder_img  {
    position: relative;
}
 
.founder_img > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 5px solid var(--primary-color);
    border-radius: 20px;
}

.founder_img .icon {
    position: absolute;
    top: 5rem;
    right: -50px;
}

.founder_img .badge {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    left: 30px;
    transform: rotate(-10deg);
}

.founder__body {
    margin: 0;
    padding: 3.5rem;
}
.founder__body .media__title{
   margin-top: 1.2rem;
}

.founder__quote {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .founder_img > img {
        width: 100%;
        height: 450px;
    }

    .founder_img .badge {
        font-size: 2rem;
        position: absolute;
        bottom: .8rem;
        left: 50px;
        transform: rotate(-10deg);
    }

    .founder__body {
        margin: 0 2rem;
    }

    .founder__quote {
        font-size: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .founder_img .badge {
        font-size: 2rem;
        position: absolute;
        bottom: 0rem;
        left: 50px;
        transform: rotate(-10deg);
    }

    .founder__body {
        margin: 0 2rem;
    }

    .founder__quote {
        font-size: 1.8rem;
    }
}