*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --primary-color-light: #FFCAE8;
    --primary-color: #F59CCA;
    --primary-color-dark: #CD5583;
    --secondary-color: #;
    --accent-color: #;
    --good-color: #0cdc16;
    --text-color-headings: #1b0760;
    --text-color-light: #FCF6FB;
    --text-color-gray: #918CA4;
    --bg-color: #;
    --border-radius: 10px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body { 
    /* background: linear-gradient(130deg, var(--primary-color), var(--primary-color-light)); */
    font-family: "Nunito", sans-serif;  
    font-size: 2.4rem;
    line-height: 1.4;
    color: var(--text-color-gray);  
}

h1,
h2,
h3 {
    color: var(--text-color-headings);
    line-height: 1.1;
    margin-bottom: 1.8rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    font-size: 2.1rem;
    margin-top: 0;
}

@media (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }

    h1 {
    font-size: 6.5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }
}

/* link */
a {
    text-decoration: none;
}

.link-container {
    text-align: right;

}

.link-more {
    color: var(--text-color-gray);
    font-size: 2rem;
    font-weight: lighter;
    opacity: .6;
}

.link-more::after {
    content: '...';
    transition: all 0.15s ease;
}

.link-more:hover {
    opacity: 1;
}

.link-more:hover::after{
    content: '.....';
}

@media (min-width: 1024px){
    .link-more {
        font-size: 1.8rem;
    }
}

/* badges */
.badge {
    border-radius: 20px;
    padding: .5rem 1rem;
    font-weight: 600;
    white-space: nowrap;
    font-size: 2rem;
}

.badge--small {
    font-size: 1.5rem;
}

.badge--primary {
    background-color: var(--primary-color);
    color: #fff;
}
.badge--primary-dark {
    background-color: var(--primary-color-dark);
    color: #fff;
}
.badge--outline {
    border: 2px solid var(--primary-color-dark);
    color: var(--primary-color-dark);
}

@media (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1rem;
    }
}

/*  lists  */
.list {
    list-style: none;
    color: var(--text-color-headings );
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick .list__item::before {
    content: '\2714';
    color: var(--good-color);
    padding-right: 10px;
}

/* icons */
.icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon--container {
    width: 80px;
    height: 80px;
}

.icon img {
    width: 70px;
    height: 35px;
    border-radius: 50%;
}

.icon--primary {
    background-color: var(--primary-color);
    color: var(--primary-color-dark);
}

.icon--outline {
    background-color: transparent;
    color: var(--primary-color-dark);
    border: 3px solid var(--primary-color-dark);
}

/* buttons */
.btn {
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow);
}

.btn--primary {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.btn--outline {
    background-color: transparent;
    color: var(--primary-color-dark);
    border: 3px solid var(--primary-color-dark);
    transition: all 0.3s ease;
}
.btn--outline:hover {
    background-color: var(--primary-color-dark);
    color: var(--text-color-light);
}

.btn--primary-dark {
    background-color: var(--primary-color-dark);
    color: var(--text-color-light);
    transition: all 0.3s ease;
    border: 3px solid var(--primary-color-dark);
}
.btn--primary-dark:hover {
    background-color: transparent;
    color: var(--primary-color-dark);
    border: 3px solid var(--primary-color-dark);
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--stretch {
    padding-left: 4rem;
    padding-right: 4rem;
}

@media (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* medai */
.media {
    display: flex;
}

.media__body{
    margin: 0 2rem;
} 

.media__image {
    margin-top: .5rem;
}

/* grid */
.grid {
    display: grid;
}

@media (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* callout */
.callout {
    padding: 2rem;
    border-radius:  10px ;
}

.callout--primary {
    background: var(--primary-color);
    color: var(--text-color-light);
}

.callout__content {
    text-align: center;
}

.callout .btn {
    justify-self: center;
    align-self  : center;
}

@media (min-width:768px) {
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto ;
    }

     .callout__content {
        text-align: left;
     }

     .callout .btn {
        margin-left: 5px;
        justify-self: start
     }
}

/* collapasible */
.collapsible__header {
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.collapsible__icon {
    cursor: pointer;
    transform: rotate(0);
    transition: all 0.2s ease;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.collapsible--expanded  .collapsible__icon{
    transform: rotate(180deg);
}

.collapsible--expanded  .collapsible__content{
    max-height: 100%;
    opacity: 1;
}

/* navbars */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 1rem;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.1); /* transparency */
    backdrop-filter: blur(10px);           /* glass effect */
    -webkit-backdrop-filter: blur(10px);   /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2); /* subtle edge */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    margin: 0 auto;  
    width: 90%;
    border-radius: 50px;
}

.nav_cover {
    width: 100%;
    background-color: var(--primary-color);
}

.nav__list {
    width: 100%;
}

.nav__item {
    text-align: center;
    padding: .5rem ;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--text-color-gray);
}
.nav__item a {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color-dark);
    transition: all 0.2s ease;
}
.nav__item a:hover {
    color: var(--primary-color);
}

.logo {
    display: block;
    height: 60px;
    width: 120px;
    border-radius: 40px;
}

.nav__toggler {
    opacity: 1;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: .7;
    box-shadow: var(--box-shadow);
}

@media (min-width: 768px) {
    .nav__toggler{
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        gap: 2.5rem;
    }

    .collapsible__content {
        max-height: 100%;
        opacity: 1;
        overflow: visible;
    }

    .nav__item {
        border: none; 
    }
}

/* hero */
.hero__container {
    background: linear-gradient(130deg, var(--primary-color), var(--primary-color-light));
    height: 95vh;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    padding: 2rem 3rem;
    animation: fadeIn 1s ease-in;    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    30% {
        opacity: 0.3;
        transform: translateY(-15px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-10px);
    }
    70% {
        opacity: 0.7;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}
.skew-bottom-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.skew-top-left {
    padding-top: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
}

.container {
    margin-top: 4rem;
    min-height: 80vh;
}

.hero__content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    text-align: center;
}

.block__heading {
    color: var(--text-color-light);
    
}

.hero__tagline {
    margin: 2rem 0 4rem;
}

.hero__image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero__image {
    width: 104px;
    height: 100px;
    border-radius: 50%;
    margin: .8rem;
    animation: float 2s infinite;
}
.hero__image2 {
    width: 104px;
    height: 100px;
    border-radius: 50%;
    margin: .8rem;
    animation: float2 2s infinite;
}
/* look for cooler animations */
@keyframes float     {
    0%{
        transform: translateY(-20px);
    }

    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}
@keyframes float2     {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}

@media (min-width: 768px) {
    .hero__content {
        text-align: left;
        align-self: center;
    }
}

/* about founder */  
.card__container {
    padding: 2rem 3rem;
    min-height: 90vh;
}

.card {
    box-shadow: 0 8px 16px var(--primary-color);
    border-radius: 20px;
}

.founder {
    padding: 2rem;
}

.founder-name__badge:hover {
    animation: pulse 1.4s infinite;
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(205, 85, 131, 0.7);
    }

    70%{
        box-shadow: 0 0 0 10px rgba(74, 222, 128, 0);
    }

    100%{
        box-shadow: 0 0 0 0 rgba(74, 222, 128, 0);

    }
}
.founder_img  {
    position: relative;
}
 
.founder_img > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 5px solid var(--primary-color);
    border-radius: 20px;
}

.founder_img .icon {
    position: absolute;
    top: 5rem;
    right: -35px;
}

.founder_img .badge {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    left: 30px;
    transform: rotate(-10deg);
}

.founder__body {
    margin: 0;
    padding: 3.5rem;
}
.founder__body .media__title{
   margin-top: 1.2rem;
}

.founder__quote {
    font-size: 1.5rem;
}

.founder__approved {
    display: flex;
    align-items: center;
    /* font-size: 2rem; */
}
.founder__approved i {
   margin-right: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .founder_img > img {
        width: 100%;
        height: 450px;
    }

    .founder_img .icon {
        position: absolute;
        top: 5rem;
        right: -50px;
    }


    .founder_img .badge {
        font-size: 2rem;
        position: absolute;
        bottom: .8rem;
        left: 50px;
        transform: rotate(-10deg);
    }

    .icon--container {
        width: 100px;
        height: 100px;
    }


    .icon img {
        width: 100px;
        height: 50px;
        border-radius: 50%;
    }

    .founder__body {
        margin: 0 2rem;
    }

    .founder__quote {
        font-size: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .founder_img > img {
        width: 100%;
        height: 550px;
    }
    .founder_img .badge {
        font-size: 2rem;
        position: absolute;
        bottom: .8rem;
        left: 50px;
        transform: rotate(-10deg);
    }

    .founder__body {
        margin: 0 2rem;
    }

    .founder__quote {
        font-size: 2.2rem;
    }
}

/* meals */
.menu__container {
    background: url(./resources/afa5d5a3e6700941fe053ce2370b5cb8.jpg);
    min-height: 95vh;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    padding: 6rem 3rem 2rem 3rem;

}
/* Heading */
.heading {
    text-align: center;
    margin-bottom: 2rem
}

.heading h3 {
    margin-bottom: 1.8rem;
    background: linear-gradient(90deg, var(--primary-color-light), var(--primary-color));
    border-bottom: 2px solid var(--primary-color);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.meal-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));
    gap: 2.5rem;
    margin-bottom: 3rem;
}

.meal {
    background-color: var(--card-bg);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease;
}

.meal:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.meal img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.meal-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    background: rgba(255, 255, 255, 0.95);
    padding: .5rem;

    transform: translateY(100%);
    transition: transform 0.4s ease;
}

/* Show on hover */
.meal:hover .meal-info {
    transform: translateY(0);
}

.meal-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

/* pricing */

.heading h1 {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(90deg, var(--primary-color), var(--primary-color-light));
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}   

.heading p {
    /* font-size: 1.5rem; */
    margin-bottom: 4rem;
}

/* .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s ease-out;
} */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.prices-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-bottom: 6rem
}

@media screen and (min-width: 1024px) {
    .prices-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
/* cards */
.card-plan {
    border-radius: 20px;
    margin-top: 2rem;
    border: 3px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    height: 100%;
    transition: all 0.3s ease;
}

.card-plan:hover {
    background-color: var(--card-hover);
    box-shadow: var(--box-shasow-lg);
    transform: translateY(-10px );
}
/* card header */
.card-header {
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid var(--text-color-grey);
}

.card-icon {
    width: 70px;
    height: 70px;
    background: linear-gradient(130deg, var(--primary-color), var(--primary-color-light));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.card-icon  i{
    font-size: 3rem;
    color: var(--primary-color-dark);
}

.price {
    margin-bottom: 1.5rem;
    display: inline-block;
}

.currency {
    font-size: 1.5rem;
    margin-right: 2px;
    color: var(--primary-color);
    vertical-align: top;
}

.amount {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    margin-right: 2px;
    color: var(--primary-color);
}

.period {
    font-size: 1rem;
    color: var(--text-color-grey);
}

.description{
    font-size: 1rem;
    color: var(--text-color-grey);
}
/* card body */
.card-body {
    padding: 3rem;
    flex-grow: 1;
}

ul {
    list-style: none;
}

li {
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.tick::before {
    content: '\2714';
    color: var(--good-color);
    margin-right: 1rem;
}

.disabled {
    opacity: .5;
    color: var(--text-color-grey);
}

.disabled::before {
    content: '\2716 ';
    color: #ef4444;
    margin-right: 1rem;
}
/* card footer */
.card-footer {
    padding: 2rem 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer .btn {
    display: inline-block;
    align-self: center;
    margin: 0 auto;
}

.btn--popular {
    background-color: var(--primary-color-dark);
    font-size: 2.1rem;
    color: #000;
    animation: pulse 2s infinite;
}

.btn--popular:hover {
    background-color: var(--primary-color-dark);
    border: 6px solid var(--primary-color-dark);
}

.popular{
    transform: scale(1.05);
    border: 2px solid var(--primary-color-dark);
    z-index: 2;
}

.popular .card-icon {
    width: 70px;
    height: 70px;
    background: linear-gradient(130deg, var(--primary-color-dark), var(--primary-color));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.popular .card-icon  i{
    font-size: 3rem;
    color: var(--primary-color-light);
}

.popular:hover{
    transform: scale(1.05) translateY(-8px);
}

.popular--badge {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--primary-color-dark);
    color: #000;
    font-size: .8rem;
    font-weight: bold;
    padding: .5rem .9rem;
    border-radius: 20px;
    z-index: 3;
}
