* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-light: #FFCAE8;
    --primary-color: #F59CCA;
    --primary-color-dark: #CD5583;
    --secondary-color: #;
    --accent-color: #;
    --text-color-headings: #;
    --text-color-light: #FCF6FB;
    --text-color-dark: #;
    --bg-color: #918CA4;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

html {
    font-size: 62.5%;
}